@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFBFA;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

h4 {
  font-size: 25px;
  font-weight: 700;
}