@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  /* background-color: #fffef2;  */
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #51a691; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

h4 {
  font-size: 25px;
  font-weight: 700;
}

h5 {
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

h6 {
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

p {
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

span {
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

li {
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

button {
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

input {
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

textarea {
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

table {
  font-family: "ColfaxAI", Helvetica, sans-serif;
  width: 100%;
}


tr th {
  font-size: 18px;
  padding: 12px;
  border: 1px solid #eeeeee;
  text-align: left;
  color: white;
  background-color: #51a691;
}

tr td {
  border: 1px solid #eeeeee;
  text-align: left;
}

/* input {
  font-size: 16px;
  background-color: transparent;
  border: none;
  width: 91%;
  padding: 12px 12px;
  font-family: 'Poppins', sans-serif;
} */

input:hover {
  background-color: #fffaf3;
}

input:focus {
  outline: 1px solid #ccc;
  border: 1px solid #ccc;
}

input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 5px;
  transition: background-color 200ms;
}